databaseChangeLog:
  - changeSet:
      id: 2025-12-12-01-create-applications
      author: josh
      changes:
        - createTable:
            tableName: applications
            columns:
              - column:
                  name: id
                  type: BIGINT
                  autoIncrement: true
                  constraints:
                    primaryKey: true
                    nullable: false

              - column:
                  name: user_id
                  type: BIGINT
                  constraints:
                    nullable: false

              - column:
                  name: job_posting_id
                  type: BIGINT
                  constraints:
                    nullable: false

              - column:
                  name: tailored_resume_id
                  type: BIGINT
                  constraints:
                    nullable: true

              - column:
                  name: status
                  type: VARCHAR(50)
                  constraints:
                    nullable: false

              - column:
                  name: notes
                  type: TEXT
                  constraints:
                    nullable: true

              - column:
                  name: applied_at
                  type: TIMESTAMP WITH TIME ZONE
                  constraints:
                    nullable: true

              - column:
                  name: created_at
                  type: TIMESTAMP WITH TIME ZONE
                  constraints:
                    nullable: false

              - column:
                  name: updated_at
                  type: TIMESTAMP WITH TIME ZONE
                  constraints:
                    nullable: false

        - addForeignKeyConstraint:
            baseTableName: applications
            baseColumnNames: user_id
            referencedTableName: users
            referencedColumnNames: id
            constraintName: fk_applications_user

        - addForeignKeyConstraint:
            baseTableName: applications
            baseColumnNames: job_posting_id
            referencedTableName: job_postings
            referencedColumnNames: id
            constraintName: fk_applications_job_posting

        - addForeignKeyConstraint:
            baseTableName: applications
            baseColumnNames: tailored_resume_id
            referencedTableName: tailored_resumes
            referencedColumnNames: id
            constraintName: fk_applications_tailored_resume

  - changeSet:
      id: 2025-12-12-02-create-application-status-history
      author: josh
      changes:
        - createTable:
            tableName: application_status_history
            columns:
              - column:
                  name: id
                  type: BIGINT
                  autoIncrement: true
                  constraints:
                    primaryKey: true
                    nullable: false

              - column:
                  name: application_id
                  type: BIGINT
                  constraints:
                    nullable: false

              - column:
                  name: old_status
                  type: VARCHAR(50)
                  constraints:
                    nullable: true

              - column:
                  name: new_status
                  type: VARCHAR(50)
                  constraints:
                    nullable: false

              - column:
                  name: comment
                  type: TEXT
                  constraints:
                    nullable: true

              - column:
                  name: changed_at
                  type: TIMESTAMP WITH TIME ZONE
                  constraints:
                    nullable: false

        - addForeignKeyConstraint:
            baseTableName: application_status_history
            baseColumnNames: application_id
            referencedTableName: applications
            referencedColumnNames: id
            constraintName: fk_app_status_history_application

        - createIndex:
            tableName: application_status_history
            indexName: idx_app_status_history_application
            columns:
              - column:
                  name: application_id
